extends layout

block content
  .page-center
    .about-page
      .about-container
        h2 About Playlist Exchange
        
        p Playlist Exchange is a web application that allows users to create and share playlists with others. It was developed as part of a software engineering course at the University of Southampton. The application is built using Node.js, Express, and MongoDB, and it provides a platform for music lovers to discover new music and connect with others who share their taste in music.
        
        p The main features of Playlist Exchange include user authentication, playlist creation and management, and the ability to browse and search for playlists created by other users. Users can also follow other users to stay updated on their latest playlists and activities.
        
        p The development of Playlist Exchange involved several stages, including requirements gathering, design, implementation, testing, and deployment. The project was developed using agile methodologies, with regular iterations and feedback from users to ensure that the application meets their needs and expectations.
        
        p Overall, Playlist Exchange is a fun and engaging platform for music lovers to connect and share their favorite playlists with others.