doctype html 
html 
    head 
        title PlaylistExchange 
        link(rel="stylesheet", href="/css/style.css")
    body.auth-body 
        header.auth-navbar 
            a.auth-brand(href="/")
                img.auth-logo(src="/images/playlist-logo.jpg", alt="Playlist Exchange logo")
                span Playlist 
                    strong Exchange 
                    
        block content