extends layout

block content
  .browse-page
    .container
      h2 Browse Playlists

      if playlists && playlists.length > 0
        .playlist-list
          each playlist in playlists
            .playlist-item
              h3= playlist.title
              p= playlist.description
              p Playlist ID: #{playlist.id}
              p User ID: #{playlist.user_id}
      else
        p No playlists found.