extends layout

block account
.browse-page
  .container 
    h2 Browse Playlist

    height 
    .playlist-list
      each playlist in playlists
        .playlist-item
          h3= playlist.name
          p= playlist.description
          a(href=`/playlists/${playlist.id}`) View Details