extends layout

block content
 .create-account-page
   .container
     h2 Create New Account
     form(action="/create-account" method="POST")
       label(for="name") Name:
       input(type="text" id="name" name="name" required)
            
       label(for="email") Email:
       input(type="email" id="email" name="email" required)
            
       label(for="password") Password:
       input(type="password" id="password" name="password" required)
            
       button(type="submit") Create Account