extends layout

block navbar 



block content
  .page-center
    .create-account-page
      .cre-container
        .cre-image
        h2 Create New Account
        
        if error 
          p(style="color: red")= error 
          
        form(action="/create-account" method= "POST") 
        
          input.animated-crea(type="text", name="username", placeholder="Username", required)
          input.animated-crea(type="email", name="email" placeholder="Email", required)
          input.animated-crea(type="password", name= "password" placeholder="Password", required)
          input.animated-crea(type="password", name="confirmPassword", placeholder="Confirm Password", required)
          button.animated-btn(type="submit") Create Account