extends layout

block content
  .homee-page
    .container
      if currentUser
        h1 Welcome back, #{currentUser.username}! 🎵
      else
        h1 Welcome to PlaylistExchange!
      p.subtitle Find your vibe, set your mood and share it all!
      .home-actions
        a.btn-primary(href="/Browse-Playlist") Browse Playlists
        a.btn-secondary(href="/create-playlist") + Create Playlist
        a.btn-secondary(href="/ratings") View Vibes
