extends layout 

block content 
  .home-page
    .container
      h1 SharePlaylists 
      h2 Share the Sound.
      p Create and share your playlists with friends and family. Discover new music and enjoy your favorite tunes together.
    
      a(href="/create-account")
      button Create New Account

      a(href="/Login") 
      button Login