doctype html
html 
  head
    title Playlist App
    link(rel="stylesheet", href="/Css/style.css")
  body 
    nav.navbar 
      .nav-left  
        s.loho(href="/") Playlist App
      .nav-right
        a(href="/") Home
        a(href="/browse-playlist") Browse Playlists
        a(href="/create-account") Create Account
        a(href="/Login") Login
        a(href="/Homee") Homee

    block content