doctype html
html 
  head
    title Playlist App
    link(rel="stylesheet", href="/Css/style.css")
  body  
    block navbar
      nav.navbar 
        .nav-left  
          s.loho(href="/") Share Playlist App
        .nav-right

          a Sign in to your account
          a.login.animated-bttn(href="/Login") Login
    block content

    .content

    div.footer 
      p &copy; 2026 Share Playlist App. All rights reserved.

     



  