doctype html
html 
  head
    title Playlist App
    link(rel="stylesheet", href="/Css/style.css")
    link(rel="stylesheet", href="/Css/song-cards.css")
  body  
    block navbar
      nav.navbar 
        .nav-left  
          span.logo(href="/") Playlist Exchange App
        .nav-right

          span Sign in to your account
          a.login.animated-bttn(href="/Login") Login
    block content

    .content

    div.footer 
      p &copy; 2026 Share Playlist App. All rights reserved.

     



  