doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title PlaylistExchange
    link(rel="stylesheet", href="/Css/style.css")
    link(rel="stylesheet", href="/Css/song-cards.css")
  body
    nav.navbar
      .nav-inner
        a.logo(href="/Homee") PlaylistExchange
        .nav-right
          a(href="/Browse-Playlist") Browse
          a(href="/ratings") Ratings
          a(href="/create-playlist") + New Playlist
          if currentUser
            a(href=`/profile/${currentUser.username}`) #{currentUser.username}
            a.btn-logout(href="/logout") Logout
          else	
            a.login(href="/Login") Login
            a.login(href="/create-account") Register

    main.site-main
      block content

    footer.footer
      p © 2026 PlaylistExchange. All rights reserved.
