extends layout

block content
  .Login-page
    .login-container
      h1 Welcome Back!
      h2 Login to Your Account
      if error
        p.error-msg= error
      form(action='/login' method='POST')
        input.animated-inp(type='email' name='email' placeholder='Email' required)
        input.animated-inp(type='password' name='password' placeholder='Password' required)
        button.animated-btn(type='submit') Login
      p Do not have an account? 
        a(href='/create-account') Register here