extends auth-layout

block content
  main.auth-page
    section.auth-hero
      div
        h1 Welcome
          span Back.
        p Login to continue sharing and discovering amazing playlists.

      .music-circle
        img.hero-logo(src="/images/playlist-logo.jpg", alt="logo")

    section.auth-card
      h2
        span Login
        | to your account
      p Welcome back! Please enter your details.

      if error
        p.error-msg= error

      form(action="/login" method="POST")
        label Email
        input(type="email", name="email", placeholder="Enter your email", required)

        label Password
        input(type="password", name="password", placeholder="Enter your password", required)

        button.auth-btn(type="submit") Login

      p.auth-link Don’t have an account?
        a(href="/create-account") Create Account

    