extends layout 

block content 
  .Login-page
    .login-container
      .login-image
      h1 Welcome Back! 
      h2 Login to Your Account
      input.animated-inp(type="text" placeholder="Email", required)
      input.animated-inp(type="password", placeholder="Password", required)
      button.animated-btn(type="submit") Login