extends layout

block navbar
  nav.navbar
    .nav-right
      .profile-dropdown
        a.profile-trigger.animated-btn(href="#") Profile
        .dropdown-menu
          a(href="/Homee") Homepage
          a(href="/delete-account") Delete Account
          a(href="/Login") Logout

block content
  .profile-page
    .profile-card
      .pro-image
      h2= user.Username
      h3= user.username
      p= user.Email
            
